body{
margin:0;
font-family:Arial;
background:linear-gradient(120deg,#4facfe,#00f2fe);
height:100vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
color:white;
}

header{
background:rgba(0,0,0,0.4);
padding:40px;
border-radius:10px;
}

button{
padding:12px 25px;
margin:10px;
border:none;
border-radius:20px;
cursor:pointer;
font-size:16px;
}

button:first-child{
background:#ff6b6b;
color:white;
}

button:last-child{
background:white;
color:black;
}